﻿.Titolo
{
	color: #999999;
	font-style:normal;
	font-family:"Cuprum","Roboto","Calibri",Lucida Grande,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:16px;
	margin-top:10px;
}
.SottoTitolo
{
	color: #007DC4;
	font-style:normal;
	font-family:"Cuprum","Roboto","Calibri",Lucida Grande,"Helvetica Neue",Helvetica,Arial,sans-serif;			
	font-size:16px;
	margin-left:60px;	
}
.SottoTitoloOSPITE
{
	color: #8b8885;
	font-style:normal;
	font-family:"Cuprum","Roboto","Calibri",Lucida Grande,"Helvetica Neue",Helvetica,Arial,sans-serif;			
	font-size: 24px;
	font-weight: normal;
	margin-left:10px;	
	background-image:url('../images/OSPITE.png');
	background-position:left;
	background-repeat:no-repeat;
	text-indent: 60px;
	margin-bottom:10px;	
	padding-top:30px;
	
}

.Barra
{
 background-color:#007DC4;
 height:40px;
 display:block;
 width:100%;
 border:0px solid black; 
 margin:0 0 0 0;
 font-family:"Cuprum","Roboto","Calibri",Lucida Grande,"Helvetica Neue",Helvetica,Arial,sans-serif;
 font-size:16px;
 z-index:99;
}

.MyAutoComplete
{
color: #000000;
background: #FFFFFF;
border: 1px solid #8894A0
}

.MenuText 
{
 font-family:"Cuprum","Roboto","Calibri",Lucida Grande,"Helvetica Neue",Helvetica,Arial,sans-serif; 
 color:#8894A0; 
 font-size:16px;
}

.BenvenutoText
{
 font-family:"Cuprum","Roboto","Calibri",Lucida Grande,"Helvetica Neue",Helvetica,Arial,sans-serif; 
 color:White; 
 font-size:16;
}
.LinkBarra
{
 font-family:"Cuprum","Roboto","Calibri",Lucida Grande,"Helvetica Neue",Helvetica,Arial,sans-serif; 
 color:White; 
 font-size:16;
}



body 
{
 background: #FFFFFF; 
 font-family:"Cuprum","Roboto","Calibri",Lucida Grande,"Helvetica Neue",Helvetica,Arial,sans-serif;
 font-size:16px;
}

textarea
{
color: #000000;
background: #FFFFFF;
border: 1px solid #8894A0;

-webkit-border-radius: 5px;
-webkit-border-top-right-radius: 3px;
-moz-border-radius: 5px;
-moz-border-radius-topright: 3px;
border-radius: 5px;
border-top-right-radius: 3px;
}


	
input
{
color: #000000;
background: #FFFFFF;
border: 1px solid #8894A0;


-webkit-border-radius: 5px;
-webkit-border-top-right-radius: 3px;
-moz-border-radius: 5px;
-moz-border-radius-topright: 3px;
border-radius: 5px;
border-top-right-radius: 3px;
}

input[type="text"]
{
	 height:25px;
}


input:focus
{
-webkit-border-radius: 5px;
-webkit-border-top-right-radius: 3px;
-moz-border-radius: 5px;
-moz-border-radius-topright: 3px;
border-radius: 5px;
border-top-right-radius: 3px;
border-color:Blue;
}

select
{
color: #000000;
background: #FFFFFF;
border: 1px solid #8894A0;
height:30px;
 
-webkit-border-radius: 5px;
-webkit-border-top-right-radius: 3px;
-moz-border-radius: 5px;
-moz-border-radius-topright: 3px;
border-radius: 5px;
border-top-right-radius: 3px;
}


select:focus
{
-webkit-border-radius: 5px;
-webkit-border-top-right-radius: 3px;
-moz-border-radius: 5px;
-moz-border-radius-topright: 3px;
border-radius: 5px;
border-top-right-radius: 3px;
border-color:Blue;
}

img
{  border-style: none;
}


.LabelCampo
{
	display: block; 
	float: left; 
	text-align:right; 
	width: 150px;  
	margin-right:10px;	
}

.MenuDestra
{
 font-family:"Cuprum","Roboto","Calibri",Lucida Grande,"Helvetica Neue",Helvetica,Arial,sans-serif;
 font-size:16px;
 color:#777777;  
 display: block; 
 vertical-align:text-top; 
 text-align:left; 
 width:150px; 
 margin-left:35px;
}

.MenuDestra a {color: #000000;}


/*Initialize*/
ul#menu, ul#menu ul.sub-menu {
    padding:0;
    margin: 0;
    z-index:99;
}
ul#menu li, ul#menu ul.sub-menu li {
    list-style-type: none;
    display:block;
    
}
/*Link Appearance*/
ul#menu li a, ul#menu li ul.sub-menu li a {
    text-decoration: none;    
    padding: 5px;
    display:block;
}
/*Make the parent of sub-menu relative*/
ul#menu li {
    position: relative;
}


/*sub menu*/
ul#menu li ul.sub-menu     
{
	display:none;
    position: absolute;
    top: 25px;
    left: 0;
    width: 100px;
    background:  white;
    color:black;
    width:400px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    border:1px solid #000000;
    background-color:#FFFFFF;
    -webkit-box-shadow: #A8A8A8 8px 8px 8px;
    -moz-box-shadow: #A8A8A8 8px 8px 8px; 
    box-shadow: #A8A8A8 8px 8px 8px;
}
ul#menu li:hover ul.sub-menu {
    display:block;
    color:red;
}


#menu li:hover,
.li_hover
{
background-color:#F90;
}

/*tab*/
.TabSenior .ajax__tab_body
{
	 font-family: "Cuprum","Roboto","Calibri",Lucida Grande,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;	
	border-width: 1px;
	border-bottom-width: 0px;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	
	border-style: solid;
	border-color: #DDDDDD;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	padding: 8px;
	background-color: #FFF;	
	
}

.TabSenior .ajax__tab_header
{	
	border-bottom-width: 1px;		
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-style: solid;
	border-color: #DDDDDD;
    font-family: "Cuprum","Roboto","Calibri",Lucida Grande,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	height:42px;
	vertical-align:middle;	

}

.TabSenior .ajax__tab_header .ajax__tab_active .ajax__tab_outer

{


	-webkit-border-radius: 5px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius: 5px;
	-moz-border-radius-topright: 3px;
	border-radius: 5px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;

    border-bottom-width: 1px;   
    border-bottom-color:White;
    border-top-color: #DDDDDD;
	border-left-color: #DDDDDD;
	border-right-color: #DDDDDD;
	border-top-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;	
	border-style: solid;

	font-family: "Cuprum","Roboto","Calibri",Lucida Grande,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	height:41px;
	vertical-align:middle;		
}

.TabSenior .ajax__tab_header .ajax__tab_active .ajax__tab_tab

{

    border-bottom-color:White;
    border-bottom-width: 1px;   
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;	
	border-style: solid;
	font-family: "Cuprum","Roboto","Calibri",Lucida Grande,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	height:41px;
	vertical-align:text-bottom;
}
.TabSenior .ajax__tab_header .ajax__tab_active .ajax__tab_tab:hover
{
	color:#08c;
}	

.TabSenior .ajax__tab_header .ajax__tab_active .ajax__tab_inner

{

    border-bottom-color:White;
    border-bottom-width: 1px;   
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;	
	border-style: solid;
	font-family: "Cuprum","Roboto","Calibri",Lucida Grande,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	color:#EF7B0F;
	height:41px;

	margin-left:10px;
	margin-right:10px;
	margin-top:5px;

}





.TabSenior .ajax__tab_inner
{
	margin-left:10px;
	margin-right:10px;
	
	
}


.TabSenior .ajax__tab_tab

{
  
}