﻿<%@ Page Language="VB" AutoEventWireup="false" Inherits="OspitiWeb_AssegnaListinoOspiti" CodeFile="AssegnaListinoOspiti.aspx.vb" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="sau" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <meta http-equiv="x-ua-compatible" content="IE=9" />
    <title>Assegna Listino</title>
    <asp:PlaceHolder runat="server">
        <%: System.Web.Optimization.Styles.Render("~/Content/AjaxControlToolkit/Styles/Bundle") %>
    </asp:PlaceHolder>
    <link href="ospiti.css?ver=9" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="images/SENIOR.ico" />
    <link href="js/jquery.autocomplete.css" rel="stylesheet" type="text/css" />
    <script src="js/jquery-1.5.1.min.js" type="text/javascript"></script>
    <script src="js/jquery.autocomplete.js" type="text/javascript"></script>
    <script src="js/soapclient.js" type="text/javascript"></script>
    <script src="/js/convertinumero.js" type="text/javascript"></script>

    <script src="js/jquery.maskedinput-1.3.min.js" type="text/javascript"></script>
    <script src="/js/formatnumer.js" type="text/javascript"></script>

    <script src="/js/pianoconti.js" type="text/javascript"></script>
    <script src="js/JSErrore.js" type="text/javascript"></script>
    <link rel="stylesheet" href="dialogbox/redips-dialog.css" type="text/css" media="screen" />
    <script type="text/javascript" src="dialogbox/redips-dialog-min.js"></script>
    <script type="text/javascript" src="dialogbox/script.js"></script>

    <link rel="stylesheet" href="jqueryui/jquery-ui.css" type="text/css" />
    <script src="jqueryui/jquery-ui.js" type="text/javascript"></script>
    <script src="jqueryui/datapicker-it.js" type="text/javascript"></script>
    <style>
        .wait {
            border: solid 1px #2d2d2d;
            text-align: left;
            vertical-align: top;
            background: white;
            width: 200px;
            height: 240px;
            position: absolute;
            top: 290px;
            right: 10px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px 4px rgba(0, 125, 196, 0.75);
            -moz-box-shadow: 0px 0px 10px 4px rgba(0, 125, 196, 0.75);
            -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 125, 196, 0.75);
            z-index: 133;
        }

        #blur {
            width: 100%;
            background-color: black;
            moz-opacity: 0.5;
            khtml-opacity: .5;
            opacity: .5;
            filter: alpha(opacity=50);
            z-index: 120;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }


        #progress {
            z-index: 200;
            background-color: White;
            position: absolute;
            top: 0pt;
            left: 0pt;
            border: solid 1px black;
            padding: 5px 5px 5px 5px;
            text-align: center;
        }
    </style>


    <script type="text/javascript">
        function DialogBox(Path) {
            alert('s');

            REDIPS.dialog.show(500, 300, '<iframe id="output" src="' + Path + '" height="300px" width="500"></iframe>');
            return false;

        }

        function DialogBoxx(Path) {

            var winW = 630, winH = 460;

            if (document.body && document.body.offsetWidth) {
                winW = document.body.offsetWidth;
                winH = document.body.offsetHeight;
            }
            if (document.compatMode == 'CSS1Compat' &&
                document.documentElement &&
                document.documentElement.offsetWidth) {
                winW = document.documentElement.offsetWidth;
                winH = document.documentElement.offsetHeight;
            }
            if (window.innerWidth && window.innerHeight) {
                winW = window.innerWidth;
                winH = window.innerHeight;
            }
            REDIPS.dialog.show(winW - 200, winH - 100, '<iframe id="output" src="' + Path + '" height="' + (winH - 100) + 'px" width="100%"></iframe>');
            return false;

        }

        $(document).ready(function () {
            if (window.innerHeight > 0) { $("#BarraLaterale").css("height", (window.innerHeight - 105) + "px"); } else { $("#BarraLaterale").css("height", (document.documentElement.offsetHeight - 105) + "px"); }
        });



    </script>
</head>
<body>
    <form id="form1" runat="server">
        <asp:ScriptManager ID="ScriptManager1" runat="server" EnableScriptGlobalization="true">
            <Scripts>
                <asp:ScriptReference Path="~/Scripts/AjaxControlToolkit/Bundle" />
            </Scripts>
        </asp:ScriptManager>
        <asp:Label ID="Lbl_BarraSenior" runat="server" Text=""></asp:Label>
        <div style="text-align: left;">

            <table style="width: 100%;" cellpadding="0" cellspacing="0">
                <tr>
                    <td style="width: 160px; background-color: #F0F0F0;"></td>
                    <td>
                        <div class="Titolo">Ospiti - Strumenti - Assegna Listino</div>
                        <div class="SottoTitolo">
                            <asp:Label ID="Lbl_NomeOspite" runat="server"></asp:Label><br />
                            <br />
                        </div>
                    </td>
                    <td style="text-align: right;">
                        <span class="BenvenutoText">Benvenuto
                            <asp:Label ID="Lbl_Utente" runat="server"></asp:Label>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <div class="DivTasti">
                            <asp:ImageButton ID="Btn_Modifica" runat="server" Height="38px" ImageUrl="~/images/salva.jpg" class="EffettoBottoniTondi" Width="38px" ToolTip="Modifica" />
                            <asp:ImageButton ID="Btn_Movimenti" runat="server" Height="38px" ImageUrl="~/images/esegui.png" class="EffettoBottoniTondi" Width="38px" ToolTip="Estrai" />
                        </div>
                    </td>
                </tr>

                <tr>
                    <td style="width: 160px; background-color: #F0F0F0; vertical-align: top; text-align: center;" id="BarraLaterale">
                        <asp:ImageButton ID="Btn_Esci" runat="server" BackColor="Transparent" ImageUrl="~/images/Menu_Indietro.png" class="Effetto" ToolTip="Chiudi" />

                        <br />

                        <div id="MENUDIV"></div>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                    </td>
                    <td colspan="2" style="background-color: #FFFFFF; vertical-align: top;">
                        <sau:TabContainer ID="TabContainer1" runat="server" ActiveTabIndex="0" CssClass="TabSenior"
                            Width="100%" BorderStyle="None" Style="margin-right: 39px">
                            <sau:TabPanel runat="server" HeaderText="Prima Nota" ID="Tab_Anagrafica">
                                <HeaderTemplate>
                                    Assegna Listino
         
         
                                </HeaderTemplate>

                                <ContentTemplate>

                                    <br />
                                    <label class="LabelCampo">Struttura:</label>
                                    <asp:DropDownList runat="server" ID="DD_Struttura" AutoPostBack="true"></asp:DropDownList><br />
                                    <br />
                                    <label class="LabelCampo">Centro Servizio :</label>
                                    <asp:DropDownList ID="Cmb_CServ" runat="server" AutoPostBack="true" Width="358px"></asp:DropDownList><br />
                                    <br />
                                    <label class="LabelCampo">Data Validita :</label>
                                    <asp:TextBox ID="Txt_DataRegistrazione" runat="server" Width="90px"></asp:TextBox>
                                    <asp:CheckBox ID="Chk_UsaDataAccoglimento" runat="server" Text="Usa Data Accoglimento se listino non indicato" />
                                    <br />
                                    <br />
                                    <label class="LabelCampo">Comune Residenza :</label>
                                    <asp:TextBox ID="Txt_Comune" runat="server" Width="300px"></asp:TextBox>
                                    <br />
                                    <br />

                                    <label class="LabelCampo">Listino :</label>
                                    <asp:DropDownList ID="DD_Lisitino" runat="server"></asp:DropDownList><br />
                                    <br />
                                    <label class="LabelCampo">
                                        <asp:Label ID="LblListinoPrivatoSinatario" runat="server" Text="Privato Sanitario :"></asp:Label></label>
                                    <asp:DropDownList ID="DD_PrivatoSanitario" runat="server"></asp:DropDownList>
                                    <label class="LabelCampo">
                                        <asp:Label ID="lblListinoSan" runat="server" Text="Sanitario :"></asp:Label></label>
                                    <asp:DropDownList ID="DD_LisitinoSanitario" runat="server"></asp:DropDownList><br />
                                    <label class="LabelCampo">
                                        <asp:Label ID="lblListinoSociale" runat="server" Text="Sociale :"></asp:Label></label>
                                    <asp:DropDownList ID="DD_LisitinoSociale" runat="server"></asp:DropDownList><br />
                                    <label class="LabelCampo">
                                        <asp:Label ID="lblListinoJolly" runat="server" Text="Jolly :"></asp:Label></label>
                                    <asp:DropDownList ID="DD_LisitinoJolly" runat="server"></asp:DropDownList><br />
                                    <br />
                                    <br />
                                    <label class="LabelCampo">Solo senza Lisitino :</label>
                                    <asp:CheckBox ID="Chk_SenzaListino" runat="server" Text="" />
                                    <br />
                                    <br />
                                    <asp:Button ID="Btn_Seleziona" runat="server" Text="Seleziona Tutto" />
                                    <asp:Button ID="Btn_SelezionaDaCF" runat="server" Text="Seleziona Da Lista CF" />
                                    <asp:TextBox ID="ListaCF" runat="server" TextMode="MultiLine" Height="300px" Visible="false"></asp:TextBox>
                                    <asp:Button ID="Btn_SelezionaCF" runat="server" Text="Seleziona" Visible="false" />
                                    <br />
                                    <br />
                                    <asp:GridView ID="GridView1" runat="server" CellPadding="3"
                                        Width="100%" BackColor="White" BorderColor="#999999" BorderStyle="None"
                                        BorderWidth="1px" GridLines="Vertical">
                                        <RowStyle ForeColor="#565151" BackColor="#EEEEEE" />
                                        <AlternatingRowStyle BackColor="Gainsboro" />

                                        <Columns>



                                            <asp:TemplateField HeaderText="Importa">
                                                <ItemTemplate>
                                                    <asp:CheckBox ID="ChkImporta" runat="server" Text="" />
                                                </ItemTemplate>
                                                <HeaderStyle Font-Bold="False" Font-Italic="False" />
                                                <ItemStyle Width="30px" />
                                            </asp:TemplateField>
                                            <asp:BoundField DataField="CodiceOspite" HeaderText="CodiceOspite" />
                                            <asp:BoundField DataField="Cognome" HeaderText="Cognome" />
                                            <asp:BoundField DataField="Nome" HeaderText="Nome" />
                                            <asp:BoundField DataField="DataNascita" HeaderText="DataNascita" />

                                            <asp:BoundField DataField="Listini" HeaderText="Listini" />
                                            <asp:BoundField DataField="DataValidita" HeaderText="DataValidita" />


                                        </Columns>

                                        <FooterStyle BackColor="#CCCCCC" ForeColor="Black" />
                                        <PagerStyle BackColor="#999999" ForeColor="Black" HorizontalAlign="Center" />
                                        <SelectedRowStyle BackColor="#008A8C" Font-Bold="True" ForeColor="White" />
                                        <HeaderStyle BackColor="#565151" Font-Bold="False" Font-Size="Small"
                                            ForeColor="White" />
                                    </asp:GridView>


                                    <div id="MovimentiImportati"></div>




                                </ContentTemplate>



                            </sau:TabPanel>

                            <sau:TabPanel runat="server" HeaderText="Prima Nota" ID="TabPanel1">
                                <HeaderTemplate>
                                    Assegna Importo Ospite/Parente
         
         
                                </HeaderTemplate>

                                <ContentTemplate>

                                    <label style="display: block; float: left; width: 160px;">File  :</label>
                                    <asp:FileUpload ID="FileUpload1" runat="server" />
                                    <br />
                                    <br />
                                    <asp:Button ID="Btn_ImportOspiti" runat="server" Text="Import Ospiti" />
                                    <br />
                                    <br />
                                    <asp:Button ID="Btn_MettiIlParentePagante" runat="server" Text="Metti il parente Paganti" />

                                </ContentTemplate>



                            </sau:TabPanel>


                            <sau:TabPanel runat="server" HeaderText="Prima Nota" ID="TabPanel2">
                                <HeaderTemplate>
                                    Assegna Importo Comune
         
         
                                </HeaderTemplate>

                                <ContentTemplate>

                                    <label style="display: block; float: left; width: 160px;">File  :</label>
                                    <asp:FileUpload ID="FileUpload2" runat="server" />
                                    <br />
                                    <br />
                                    <asp:Button ID="Btn_Comune" runat="server" Text="Import Ospiti" />

                                </ContentTemplate>



                            </sau:TabPanel>


                            <sau:TabPanel runat="server" HeaderText="Prima Nota" ID="TabPanel3">
                                <HeaderTemplate>
                                    Importo Anagrafiche
         
         
                                </HeaderTemplate>

                                <ContentTemplate>

                                    <label style="display: block; float: left; width: 160px;">File  :</label>
                                    <asp:FileUpload ID="FileUpload3" runat="server" />
                                    <br />
                                    <br />
                                    <asp:Button ID="Btn_Anagrafiche" runat="server" Text="Import Ospiti" />

                                </ContentTemplate>



                            </sau:TabPanel>


                        </sau:TabContainer>
                    </td>
                </tr>
            </table>


        </div>
    </form>
</body>
</html>
