﻿<%@ Page Language="VB" AutoEventWireup="false" Inherits="OspitiWeb_EstraiPerUSLSanitario" CodeFile="EstraiPerUSLSanitario.aspx.vb" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            Filtre : 
            <asp:RadioButton ID="RB_RegioneCserv" runat="server" GroupName="Filtro" AutoPostBack="true" Text="Regione/Cserv" />
            <asp:RadioButton ID="RB_RegioneCservComune" runat="server" GroupName="Filtro" AutoPostBack="true" Text="Regione/Cserv/Comune" />
            <br />
            <br />

            <asp:GridView ID="Grd_ImportoOspite" runat="server" CellPadding="3"
                Width="100%" BackColor="White" BorderColor="#999999" BorderStyle="None"
                BorderWidth="1px" GridLines="Vertical" AllowPaging="True"
                ShowFooter="True" PageSize="20">
                <RowStyle ForeColor="#565151" BackColor="#EEEEEE" />
                <AlternatingRowStyle BackColor="White" />
                <Columns>
                    <asp:TemplateField ItemStyle-Width="40px">
                        <ItemTemplate>
                            <asp:ImageButton ID="Seleziona" CommandName="Seleziona" runat="Server" ImageUrl="~/images/printer-blue.png" class="EffettoBottoniTondi" BackColor="Transparent" CommandArgument="<%#   Container.DataItemIndex  %>" />
                        </ItemTemplate>
                    </asp:TemplateField>
                    <asp:TemplateField ItemStyle-Width="40px">
                        <ItemTemplate>
                            <asp:ImageButton ID="Export" CommandName="Export" runat="Server" ImageUrl="~/images/download.png" class="EffettoBottoniTondi" BackColor="Transparent" CommandArgument="<%#   Container.DataItemIndex  %>" />
                        </ItemTemplate>
                    </asp:TemplateField>
                </Columns>
                <FooterStyle BackColor="#CCCCCC" ForeColor="Black" />
                <PagerStyle BackColor="#999999" ForeColor="Black" HorizontalAlign="Center" />
                <SelectedRowStyle BackColor="#008A8C" Font-Bold="True" ForeColor="White" />
                <HeaderStyle BackColor="#565151" Font-Bold="false" Font-Size="Small" ForeColor="White" />
                <AlternatingRowStyle BackColor="#DCDCDC" />
            </asp:GridView>
        </div>
    </form>
</body>
</html>
