﻿<%@ Page Language="VB" AutoEventWireup="false" Inherits="OspitiWeb_InserisciDatiOspitiDaCF" CodeFile="InserisciDatiOspitiDaCF.aspx.vb" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:TextBox ID="TextBox1" runat="server" Height="209px" TextMode="MultiLine" 
            Width="498px"></asp:TextBox>
        <br />
        <asp:CheckBox ID="Chk_CercaPerCognomeNome" runat="server" />
        <br />
        <asp:Button ID="Button1" runat="server" Height="46px" Text="Button" 
            Width="311px" />
    </div>
    </form>
</body>
</html>
