﻿<%@ Page Language="VB" AutoEventWireup="false" Inherits="GeneraleWeb_AliquotaIVA" EnableEventValidation="false" CodeFile="AliquotaIVA.aspx.vb" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="xasp" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <meta http-equiv="x-ua-compatible" content="IE=9" />
    <title>Aliquota IVA</title>
    <asp:PlaceHolder runat="server">
        <%: System.Web.Optimization.Styles.Render("~/Content/AjaxControlToolkit/Styles/Bundle") %>
    </asp:PlaceHolder>
    <link href="ospiti.css?ver=11" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="images/SENIOR.ico" />
    <link href="js/jquery.autocomplete.css" rel="stylesheet" type="text/css" />

    <script src="js/jquery-1.5.1.min.js" type="text/javascript"></script>
    <script src="js/jquery.autocomplete.js" type="text/javascript"></script>
    <script src="js/soapclient.js" type="text/javascript"></script>
    <script src="/js/convertinumero.js" type="text/javascript"></script>

    <script src="js/jquery.maskedinput-1.3.min.js" type="text/javascript"></script>
    <script src="/js/formatnumer.js" type="text/javascript"></script>

    <script src="/js/pianoconti.js" type="text/javascript"></script>
    <script src="js/JSErrore.js" type="text/javascript"></script>
    <script type="text/javascript">                

        $(document).ready(function () {
            $('html').keyup(function (event) {
                if (event.keyCode == 113) {
                    __doPostBack("Btn_Modifica", "0");
                }
            });
        });
        $(document).ready(function () {
            if (window.innerHeight > 0) { $("#BarraLaterale").css("height", (window.innerHeight - 94) + "px"); } else { $("#BarraLaterale").css("height", (document.documentElement.offsetHeight - 94) + "px"); }
        });

    </script>
</head>
<body>
    <form id="form1" runat="server" autocomplete="off">
        <asp:ScriptManager ID="ScriptManager1" runat="server" EnableScriptGlobalization="true">
            <Scripts>
                <asp:ScriptReference Path="~/Scripts/AjaxControlToolkit/Bundle" />
            </Scripts>
        </asp:ScriptManager>
        <asp:Label ID="Lbl_BarraSenior" runat="server" Text=""></asp:Label>
        <table style="width: 100%;" cellpadding="0" cellspacing="0">
            <tr>
                <td style="width: 160px; background-color: #F0F0F0;"></td>
                <td>
                    <div class="Titolo">Contabilità - Principale - Aliquota IVA</div>
                    <div class="SottoTitolo">
                        <br />
                        <br />
                    </div>
                </td>
                <td style="text-align: right; vertical-align: top;">
                    <div class="DivTasti">
                        <asp:ImageButton ID="Btn_Modifica" runat="server" Height="38px" ImageUrl="~/images/salva.jpg" class="EffettoBottoniTondi" Width="38px" ToolTip="Inserisci/Modifica (F2)" />
                        <asp:ImageButton ID="ImageButton1" OnClientClick="return window.confirm('Eliminare?');" runat="server" Height="38px" ImageUrl="~/images/elimina.jpg" class="EffettoBottoniTondi" Width="38px" ToolTip="Elimina" />
                    </div>
                </td>
            </tr>

            <tr>
                <td style="width: 160px; background-color: #F0F0F0; vertical-align: top; text-align: center;" id="BarraLaterale">
                    <a href="Menu_Generale.aspx" style="border-width: 0px;">
                        <img src="images/Home.jpg" alt="Menù" class="Effetto" /></a><br />
                    <asp:ImageButton ID="Btn_Esci" runat="server" BackColor="Transparent" ImageUrl="../images/Menu_Indietro.png" class="Effetto" ToolTip="Chiudi" />
                </td>
                <td colspan="2" style="background-color: #FFFFFF; vertical-align: top;">
                    <xasp:TabContainer ID="TabContainer1" runat="server" ActiveTabIndex="0" CssClass="TabSenior" Width="100%" BorderStyle="None" Style="margin-right: 39px">
                        <xasp:TabPanel runat="server" HeaderText="Prima Nota" ID="Tab_Anagrafica">
                            <HeaderTemplate>
                                Aliquota IVA
                            </HeaderTemplate>
                            <ContentTemplate>
                                <br />

                                <label class="LabelCampo">Codice : </label>
                                <asp:TextBox ID="Txt_Codice" runat="server" Width="80px" AutoPostBack="true" MaxLength="2"></asp:TextBox>
                                <asp:Image ID="Img_VerificaCodice" runat="server" Height="18px" ImageUrl="~/images/Blanco.png" Width="18px" />
                                <br />
                                <br />
                                <label class="LabelCampo">Descrizione : </label>
                                <asp:TextBox ID="Txt_Descrizione" runat="server" Width="400px" AutoPostBack="true" MaxLength="50"></asp:TextBox>
                                <asp:Image ID="Img_VerificaDescrizione" runat="server" Height="18px" ImageUrl="~/images/Blanco.png" Width="18px" />
                                <br />
                                <br />

                                <label class="LabelCampo">Aliquota : </label>
                                <asp:TextBox ID="Txt_Aliquota" onkeypress="ForceNumericInput(this, true, true)" runat="server" Width="80px" MaxLength="5"></asp:TextBox><br />
                                <br />
                                <label class="LabelCampo">Colonna Allegato</label><br />
                                <label class="LabelCampo">Fornitori : </label>
                                <asp:TextBox ID="Txt_Fornitori" onkeypress="return soloNumeri(event);" runat="server" Width="80px" MaxLength="3"></asp:TextBox><br />
                                <br />
                                <label class="LabelCampo">Clienti : </label>
                                <asp:TextBox ID="Txt_Clienti" onkeypress="return soloNumeri(event);" runat="server" Width="80px" MaxLength="3"></asp:TextBox><br />
                                <br />
                                <label class="LabelCampo">Tipo : </label>
                                <asp:RadioButton ID="RB_Soggetta" GroupName="TIPO" runat="server" />Soggetta
    <asp:RadioButton ID="RB_NonImponibile" GroupName="TIPO" runat="server" />Non Imponibile
    <asp:RadioButton ID="RB_Esente" GroupName="TIPO" runat="server" />Esente
    <asp:RadioButton ID="RB_NonSoggetta" GroupName="TIPO" runat="server" />Non Soggetta               

    <br />
                                <br />
                                <label class="LabelCampo">Non in Liquidazione :</label><asp:CheckBox ID="Chk_NonInLiquidazione" runat="server" />
                                <br />
                                <br />
                                <label class="LabelCampo">Non in Spesometro:</label><asp:CheckBox ID="Chk_Spesometro" runat="server" />
                                <br />
                                <br />
                                <label class="LabelCampo">Detraibile : </label>
                                <asp:DropDownList ID="DD_Detraibile" runat="server" Width="400px"></asp:DropDownList><br />
                                <br />
                                <label class="LabelCampo">Natura : </label>
                                <asp:DropDownList ID="DD_Natura" runat="server" Width="200px"></asp:DropDownList><br />
                                <br />
                                <label class="LabelCampo">Non in Uso :</label><asp:CheckBox ID="Chk_NonInUso" runat="server" />
                                <br />
                                <br />

                                <p align="Left">
                                    <asp:Label ID="Lbl_Errori" runat="server" ForeColor="Red" Width="304px"></asp:Label>&nbsp;<br />
                                </p>
                            </ContentTemplate>

                        </xasp:TabPanel>
                    </xasp:TabContainer>
                </td>
                <td>
                    <br />
                    <br />
                    <br />
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
