﻿<%@ Page Language="VB" AutoEventWireup="false" Inherits="GeneraleWeb_BilancioAnalitica" CodeFile="BilancioAnalitica.aspx.vb" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="xasp" %>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <meta http-equiv="x-ua-compatible" content="IE=9" />
    <title>Bilancio Analitica</title>
    <asp:PlaceHolder runat="server">
        <%: System.Web.Optimization.Styles.Render("~/Content/AjaxControlToolkit/Styles/Bundle") %>
    </asp:PlaceHolder>
    <link href="ospiti.css?ver=11" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="images/SENIOR.ico" />
    <link href="js/jquery.autocomplete.css" rel="stylesheet" type="text/css" />

    <script src="js/jquery-1.5.1.min.js" type="text/javascript"></script>
    <script src="js/jquery.autocomplete.js" type="text/javascript"></script>
    <script src="js/soapclient.js" type="text/javascript"></script>
    <script src="/js/convertinumero.js" type="text/javascript"></script>

    <script src="js/jquery.maskedinput-1.3.min.js" type="text/javascript"></script>
    <script src="/js/formatnumer.js" type="text/javascript"></script>

    <script src="/js/pianoconti.js" type="text/javascript"></script>
    <script src="js/JSErrore.js" type="text/javascript"></script>
    <link rel="stylesheet" href="jqueryui/jquery-ui.css" type="text/css" />
    <script src="jqueryui/jquery-ui.js" type="text/javascript"></script>
    <script src="jqueryui/datapicker-it.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            if (window.innerHeight > 0) { $("#BarraLaterale").css("height", (window.innerHeight - 105) + "px"); } else { $("#BarraLaterale").css("height", (document.documentElement.offsetHeight - 105) + "px"); }
        });
        function openPopUp(urlToOpen, nome, parametri) {
            var popup_window = window.open(urlToOpen, '_blank');
            try {
                popup_window.focus();
            } catch (e) {
                alert("E' stato bloccato l'aperutra del popup da parte del browser");
            }
        }
    </script>
    <style>
        .wait {
            border: solid 1px #2d2d2d;
            text-align: center;
            vertical-align: top;
            background: white;
            width: 20%;
            height: 180px;
            top: 30%;
            left: 40%;
            position: absolute;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px 4px rgba(0, 125, 196, 0.75);
            -moz-box-shadow: 0px 0px 10px 4px rgba(0, 125, 196, 0.75);
            -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 125, 196, 0.75);
        }

        #blur {
            width: 100%;
            background-color: black;
            moz-opacity: 0.5;
            khtml-opacity: .5;
            opacity: .5;
            filter: alpha(opacity=50);
            z-index: 120;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        #progress {
            z-index: 200;
            background-color: White;
            position: absolute;
            top: 0pt;
            left: 0pt;
            border: solid 1px black;
            padding: 5px 5px 5px 5px;
            text-align: center;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server" autocomplete="off">
        <asp:ScriptManager ID="ScriptManager1" runat="server" EnableScriptGlobalization="true">
            <Scripts>
                <asp:ScriptReference Path="~/Scripts/AjaxControlToolkit/Bundle" />
            </Scripts>
        </asp:ScriptManager>
        <asp:Label ID="Lbl_BarraSenior" runat="server" Text=""></asp:Label>
        <div align="left">
            <table style="width: 100%;" cellpadding="0" cellspacing="0">
                <tr>
                    <td style="width: 160px; background-color: #F0F0F0;"></td>
                    <td>
                        <div class="Titolo">Contabilità - Budget/Analitica - Bilancio</div>
                        <div class="SottoTitolo">
                            <br />
                            <br />
                        </div>
                    </td>
                    <td style="text-align: right; vertical-align: top;">
                        <div class="DivTasti">
                            <asp:UpdatePanel ID="UpdatePanel1" runat="server">
                                <ContentTemplate>
                                    <asp:ImageButton ID="ImageButton1" runat="server" Height="38px" ImageUrl="~/generaleweb/images/printer-blue.png" class="EffettoBottoniTondi" Width="38px" />
                                </ContentTemplate>
                            </asp:UpdatePanel>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td style="width: 160px; background-color: #F0F0F0; vertical-align: top; text-align: center;" id="BarraLaterale">
                        <a href="Menu_Generale.aspx" style="border-width: 0px;">
                            <img src="images/Home.jpg" alt="Menù" class="Effetto" /></a><br />
                        <asp:ImageButton ID="Btn_Esci" runat="server" BackColor="Transparent" ImageUrl="../images/Menu_Indietro.png" class="Effetto" ToolTip="Chiudi" />
                        <br />
                        <br />
                    </td>
                    <td colspan="2" style="background-color: #FFFFFF;" valign="top">
                        <xasp:TabContainer ID="TabContainer1" runat="server" ActiveTabIndex="0" CssClass="TabSenior" Width="100%" BorderStyle="None" Style="margin-right: 39px">
                            <xasp:TabPanel runat="server" HeaderText="Stampa Bilancio" ID="Tab_Anagrafica">
                                <HeaderTemplate>
                                    Bilancio Analitica
                                </HeaderTemplate>
                                <ContentTemplate>
                                    <label class="LabelCampo">Anno : </label>
                                    <asp:TextBox ID="Txt_Anno" MaxLength="4" onkeypress="return soloNumeri(event);" AutoPostBack="true" runat="server" Width="50px"></asp:TextBox><br />
                                    <br />
                                    <label class="LabelCampo">Data Dal: </label>
                                    <asp:TextBox ID="Txt_DataDal" runat="server" Width="90px"></asp:TextBox>
                                    <br />
                                    <br />
                                    <label class="LabelCampo">Data Al: </label>
                                    <asp:TextBox ID="Txt_DataAl" runat="server" Width="90px"></asp:TextBox>
                                    <br />
                                    <br />
                                    <label class="LabelCampo">Considera Comp.: </label>
                                    <asp:CheckBox ID="Chk_ConsideraCompetenza" runat="server" Text="" />
                                    <br />
                                    <br />
                                    <label class="LabelCampo">Dal Mese: </label>
                                    <asp:DropDownList ID="DD_MeseDal" runat="server">
                                        <asp:ListItem Value="0">Non Indicato</asp:ListItem>
                                        <asp:ListItem Text="Gennaio" Value="1"></asp:ListItem>
                                        <asp:ListItem Text="Febbraio" Value="2"></asp:ListItem>
                                        <asp:ListItem Text="Marzo" Value="3"></asp:ListItem>
                                        <asp:ListItem Text="Aprile" Value="4"></asp:ListItem>
                                        <asp:ListItem Text="Maggio" Value="5"></asp:ListItem>
                                        <asp:ListItem Text="Giugno" Value="6"></asp:ListItem>
                                        <asp:ListItem Text="Luglio" Value="7"></asp:ListItem>
                                        <asp:ListItem Text="Agosto" Value="8"></asp:ListItem>
                                        <asp:ListItem Text="Settembre" Value="9"></asp:ListItem>
                                        <asp:ListItem Text="Ottobre" Value="10"></asp:ListItem>
                                        <asp:ListItem Text="Novembre" Value="11"></asp:ListItem>
                                        <asp:ListItem Text="Dicembre" Value="12"></asp:ListItem>
                                    </asp:DropDownList>
                                    <br />
                                    <br />
                                    <label class="LabelCampo">Al Mese: </label>
                                    <asp:DropDownList ID="DD_MeseAl" runat="server">
                                        <asp:ListItem Value="0">Non Indicato</asp:ListItem>
                                        <asp:ListItem Text="Gennaio" Value="1"></asp:ListItem>
                                        <asp:ListItem Text="Febbraio" Value="2"></asp:ListItem>
                                        <asp:ListItem Text="Marzo" Value="3"></asp:ListItem>
                                        <asp:ListItem Text="Aprile" Value="4"></asp:ListItem>
                                        <asp:ListItem Text="Maggio" Value="5"></asp:ListItem>
                                        <asp:ListItem Text="Giugno" Value="6"></asp:ListItem>
                                        <asp:ListItem Text="Luglio" Value="7"></asp:ListItem>
                                        <asp:ListItem Text="Agosto" Value="8"></asp:ListItem>
                                        <asp:ListItem Text="Settembre" Value="9"></asp:ListItem>
                                        <asp:ListItem Text="Ottobre" Value="10"></asp:ListItem>
                                        <asp:ListItem Text="Novembre" Value="11"></asp:ListItem>
                                        <asp:ListItem Text="Dicembre" Value="12"></asp:ListItem>
                                    </asp:DropDownList>

                                    <br />
                                </ContentTemplate>
                            </xasp:TabPanel>
                        </xasp:TabContainer>



                        <asp:UpdateProgress ID="UpdateProgress2" runat="server"
                            AssociatedUpdatePanelID="UpdatePanel1">
                            <ProgressTemplate>
                                <div id="blur">&nbsp;</div>
                                <div id="Div1">&nbsp;</div>
                                <div id="pippo" class="wait">
                                    <br />
                                    <img height="30px" src="images/loading.gif"><br />
                                </div>
                            </ProgressTemplate>
                        </asp:UpdateProgress>
                        <asp:Label ID="Lbl_Errori" runat="server" ForeColor="Red" Width="464px"></asp:Label>
                        <br />

                        </asp:Panel>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</body>
</html>
