﻿.ajax__slider_h_rail {
    background-image: url('../Images/Slider.Rail-Horizontal.gif');
}

.ajax__slider_v_rail {
    background-image: url('../Images/Slider.Rail-Vertical.gif');
}

.ajax__calendar_prev {
    background-image: url('../Images/Calendar.Arrow-Left.gif');
}

.ajax__calendar_next {
    background-image: url('../Images/Calendar.Arrow-Right.gif');
}

.ajax__dropdown_arrow_image {
    background-image: url('../Images/DropDown.DropArrow.gif');
}

.ajax__balloon_popup .rect {
    background-image: url('../Images/BalloonPopup.RectangleSprite.gif');
    background-image: url('../Images/BalloonPopup.RectangleSprite.png') !important;
}

.ajax__balloon_popup .cloud {
    background-image: url('../Images/BalloonPopup.CloudSprite.gif');
    background-image: url('../Images/BalloonPopup.CloudSprite.png') !important;
}

.ajax__tab_xp .ajax__tab_header {
    /*background-image: url('../Images/Tabs.Line.gif');*/
}

.ajax__tab_xp .ajax__tab_header .ajax__tab_outer {
    /*background-image: url('../Images/Tabs.Right.gif');*/
}

.ajax__tab_xp .ajax__tab_header .ajax__tab_inner {
    /*background-image: url('../Images/Tabs.Left.gif');*/
}

.ajax__tab_xp .ajax__tab_header .ajax__tab_tab {
    /*background-image: url('../Images/Tabs.Background.gif');*/
}

.ajax__tab_xp .ajax__tab_header .ajax__tab_hover .ajax__tab_outer {
    /*background-image: url('../Images/Tabs.HoverRight.gif');*/
}

.ajax__tab_xp .ajax__tab_header .ajax__tab_hover .ajax__tab_inner {
    /*background-image: url('../Images/Tabs.HoverLeft.gif');*/
}

.ajax__tab_xp .ajax__tab_header .ajax__tab_hover .ajax__tab_tab {
    /*background-image: url('../Images/Tabs.Hover.gif');*/
}

.ajax__tab_xp .ajax__tab_header .ajax__tab_active .ajax__tab_outer {
    /*background-image: url('../Images/Tabs.ActiveRight.gif');*/
}

.ajax__tab_xp .ajax__tab_header .ajax__tab_active .ajax__tab_inner {
    /*background-image: url('../Images/Tabs.ActiveLeft.gif');*/
}

.ajax__tab_xp .ajax__tab_header .ajax__tab_active .ajax__tab_tab {
    /*background-image: url('../Images/Tabs.Active.gif');*/
}

.ajax__tab_xp .ajax__tab_header_verticalleft {
    /*background-image: url('../Images/Tabs.Line.gif');*/
}

.ajax__tab_xp .ajax__tab_header_verticalleft .ajax__tab_outer {
    /*background-image: url('../Images/Tabs.Right-VerticalLeft.gif');*/
}

.ajax__tab_xp .ajax__tab_header_verticalleft .ajax__tab_inner {
    /*background-image: url('../Images/Tabs.Left-VerticalLeft.gif');*/
}

.ajax__tab_xp .ajax__tab_header_verticalleft .ajax__tab_tab {
    /*background-image: url('../Images/Tabs.VerticalLeft.gif');*/
}

.ajax__tab_xp .ajax__tab_header_verticalleft .ajax__tab_hover .ajax__tab_outer {
    /*background-image: url('../Images/Tabs.HoverRight-VerticalLeft.gif');*/
}

.ajax__tab_xp .ajax__tab_header_verticalleft .ajax__tab_hover .ajax__tab_inner {
    /*background-image: url('../Images/Tabs.HoverLeft-VerticalLeft.gif');*/
}

.ajax__tab_xp .ajax__tab_header_verticalleft .ajax__tab_hover .ajax__tab_tab {
    /*background-image: url('../Images/Tabs.Hover-VerticalLeft.gif');*/
}

.ajax__tab_xp .ajax__tab_header_verticalleft .ajax__tab_active .ajax__tab_outer {
    /*background-image: url('../Images/Tabs.ActiveRight-VerticalLeft.gif');*/
}

.ajax__tab_xp .ajax__tab_header_verticalleft .ajax__tab_active .ajax__tab_inner {
    /*background-image: url('../Images/Tabs.ActiveLeft-VerticalLeft.gif');*/
}

.ajax__tab_xp .ajax__tab_header_verticalleft .ajax__tab_active .ajax__tab_tab {
    /*background-image: url('../Images/Tabs.Active-VerticalLeft.gif');*/
}

.ajax__tab_xp .ajax__tab_header_verticalright {
    /*background-image: url('../Images/Tabs.Line.gif');*/
}

.ajax__tab_xp .ajax__tab_header_verticalright .ajax__tab_outer {
    /*background-image: url('../Images/Tabs.Right-VerticalRight.gif');*/
}

.ajax__tab_xp .ajax__tab_header_verticalright .ajax__tab_inner {
    /*background-image: url('../Images/Tabs.Left-VerticalRight.gif');*/
}

.ajax__tab_xp .ajax__tab_header_verticalright .ajax__tab_tab {
    /*background-image: url('../Images/Tabs.VerticalRight.gif');*/
}

.ajax__tab_xp .ajax__tab_header_verticalright .ajax__tab_hover .ajax__tab_outer {
    /*background-image: url('../Images/Tabs.HoverRight-VerticalRight.gif');*/
}

.ajax__tab_xp .ajax__tab_header_verticalright .ajax__tab_hover .ajax__tab_inner {
    /*background-image: url('../Images/Tabs.HoverLeft-VerticalRight.gif');*/
}

.ajax__tab_xp .ajax__tab_header_verticalright .ajax__tab_hover .ajax__tab_tab {
    /*background-image: url('../Images/Tabs.Hover-VerticalRight.gif');*/
}

.ajax__tab_xp .ajax__tab_header_verticalright .ajax__tab_active .ajax__tab_outer {
    /*background-image: url('../Images/Tabs.ActiveRight-VerticalRight.gif');*/
}

.ajax__tab_xp .ajax__tab_header_verticalright .ajax__tab_active .ajax__tab_inner {
    /*background-image: url('../Images/Tabs.ActiveLeft-VerticalRight.gif');*/
}

.ajax__tab_xp .ajax__tab_header_verticalright .ajax__tab_active .ajax__tab_tab {
    /*background-image: url('../Images/Tabs.Active-VerticalRight.gif');*/
}

.ajax__tab_xp .ajax__tab_header_bottom {
    /*background-image: url('../Images/Tabs.Line.gif');*/
}

.ajax__tab_xp .ajax__tab_header_bottom .ajax__tab_outer {
    /*background-image: url('../Images/Tabs.Bottom-Right.gif');*/
}

.ajax__tab_xp .ajax__tab_header_bottom .ajax__tab_inner {
    /*background-image: url('../Images/Tabs.Bottom-Left.gif');*/
}

.ajax__tab_xp .ajax__tab_header_bottom .ajax__tab_tab {
    /*background-image: url('../Images/Tabs.Bottom.gif');*/
}

.ajax__tab_xp .ajax__tab_header_bottom .ajax__tab_hover .ajax__tab_outer {
    /*background-image: url('../Images/Tabs.Bottom-HoverRight.gif');*/
}

.ajax__tab_xp .ajax__tab_header_bottom .ajax__tab_hover .ajax__tab_inner {
    /*background-image: url('../Images/Tabs.Bottom-HoverLeft.gif');*/
}

.ajax__tab_xp .ajax__tab_header_bottom .ajax__tab_hover .ajax__tab_tab {
    /*background-image: url('../Images/Tabs.Bottom-Hover.gif');*/
}

.ajax__tab_xp .ajax__tab_header_bottom .ajax__tab_active .ajax__tab_outer {
    /*background-image: url('../Images/Tabs.Bottom-ActiveRight.gif');*/

}

.ajax__tab_xp .ajax__tab_header_bottom .ajax__tab_active .ajax__tab_inner {
    /*background-image: url('../Images/Tabs.Bottom-ActiveLeft.gif"');*/
}



.ajax__tab_xp .ajax__tab_header_bottom .ajax__tab_active .ajax__tab_tab {
    /*background-image: url('../Images/Tabs.Bottom-Active.gif"');*/
}

.ajax__multi_slider_default .outer_rail_vertical {
    background-image: url('../Images/MultiHandleSlider.RailOuter-Vertical.gif');
}

.ajax__multi_slider_default .inner_rail_vertical {
    background-image: url('../Images/MultiHandleSlider.Rail-Vertical.gif');
}

.ajax__multi_slider_default .inner_rail_horizontal {
    background-image: url('../Images/MultiHandleSlider.Rail-Horizontal.gif');
}

.ajax__multi_slider_default .outer_rail_horizontal {
    background-image: url('../Images/MultiHandleSlider.RailOuter-Horizontal.gif');
}

.ajax__multi_slider_default .handle_horizontal {
    background-image: url('../Images/MultiHandleSlider.Handle-Horizontal.gif');
}

.ajax__multi_slider_default .handle_horizontal_hover {
    background-image: url('../Images/MultiHandleSlider.HandleHover-Horizontal.gif');
}

.ajax__multi_slider_default .handle_horizontal_down {
    background-image: url('../Images/MultiHandleSlider.HandleDown-Horizontal.gif');
}

.ajax__multi_slider_default .handle_vertical {
    background-image: url('../Images/MultiHandleSlider.Handle-Vertical.gif');
}

.ajax__multi_slider_default .handle_vertical_hover {
    background-image: url('../Images/MultiHandleSlider.HandleHover-Vertical.gif');
}

.ajax__multi_slider_default .handle_vertical_down {
    background-image: url('../Images/MultiHandleSlider.HandleDown-Vertical.gif');
}

.ajax__combobox_buttoncontainer button {
    background-image: url('../Images/ComboBox.Arrow-Down.gif');
}

.ajax__htmleditor_attachedpopup_default td.ajax__htmleditor_popup_bgibutton {
    background-image: url('../Images/HtmlEditor.BgiButton.gif');
}

.ajax__html_editor_extender_button { 
    background-image: url('../Images/HtmlEditorExtender.Buttons.png');
}

.ajax__html_editor_extender_separator {
    background-image: url('../Images/HtmlEditorExtender.Buttons.png');
}
