﻿.Titolo
{
	color: #2796CE;
	font-style:normal;
	font-family:"Source Sans Pro",sans-serif;
	font-size:16px;
}
.SottoTitolo
{
	color: #AAAAAA;
	font-style:normal;
	font-family:"Source Sans Pro",sans-serif;			
	font-size:16px;
	margin-left:60px;	
}

.Barra
{
 background-color:#007DC4;
 height:40px;
 display:block;
 width:100%;
 border:0px solid black; 
 margin:0 0 0 0;
 font-family:"Source Sans Pro",sans-serif;
 font-size:16px;
 z-index:-1;
}



.MyAutoComplete
{
color: #000000;
background: #FFFFFF;
border: 1px solid #8894A0
}

.MenuText 
{
 font-family:"Source Sans Pro",sans-serif; 
 color:#8894A0; 
 font-size:16px;
}
.MenuText:hover
{
	color:#007DC4; 
}

.BenvenutoText
{
 font-family:"Source Sans Pro",sans-serif;
 color:White; 
 font-size:16;
}
.LinkBarra
{
 font-family:"Source Sans Pro",sans-serif; 
 color:White; 
 font-size:16;
}



body 
{
 background: #FFFFFF; 
 font-family:"Source Sans Pro",sans-serif;
 font-size:16px;
}

textarea
{
color: #000000;
background: #FFFFFF;
border: 1px solid #8894A0;

-webkit-border-radius: 5px;
-webkit-border-top-right-radius: 3px;
-moz-border-radius: 5px;
-moz-border-radius-topright: 3px;
border-radius: 5px;
border-top-right-radius: 3px;
}

.Effetto
{
 margin-bottom:8px;
 	
}
.Effetto:hover  
{   
  box-shadow: 0px 0px 14px 0px #007DC4;
border-radius: 10px !important;
  } 

.EffettoBottoniTondi:hover  
{   
box-shadow: 0px 0px 6px 0px #007DC4;
border-radius: 10px !important;
} 

.Effetto
{
 margin-bottom:8px;
 	
}
.Effetto:hover  
{   
  box-shadow: 0px 0px 14px 0px #007DC4;
border-radius: 10px !important;
  } 

.EffettoBottoniTondi:hover  
{   
box-shadow: 0px 0px 6px 0px #007DC4;
border-radius: 10px !important;
} 


select 
{
color: #000000;
background: #FFFFFF;
border: 1px solid #8894A0;

-webkit-border-radius: 5px;
-webkit-border-top-right-radius: 3px;
-moz-border-radius: 5px;
-moz-border-radius-topright: 3px;
border-radius: 5px;
border-top-right-radius: 3px;
}
	
input
{
color: #000000;
background: #FFFFFF;
border: 1px solid #8894A0;


-webkit-border-radius: 5px;
-webkit-border-top-right-radius: 3px;
-moz-border-radius: 5px;
-moz-border-radius-topright: 3px;
border-radius: 5px;
border-top-right-radius: 3px;
}

input[type="text"]
{
	 height:25px;
}

input[type="image"] {
    border: none;
}


input:focus
{
-webkit-border-radius: 5px;
-webkit-border-top-right-radius: 3px;
-moz-border-radius: 5px;
-moz-border-radius-topright: 3px;
border-radius: 5px;
border-top-right-radius: 3px;
border-color:Blue;
}

select
{
color: #000000;
background: #FFFFFF;
border: 1px solid #8894A0;
height:22px;

-webkit-border-radius: 5px;
-webkit-border-top-right-radius: 3px;
-moz-border-radius: 5px;
-moz-border-radius-topright: 3px;
border-radius: 5px;
border-top-right-radius: 3px;
}


select:focus
{
-webkit-border-radius: 5px;
-webkit-border-top-right-radius: 3px;
-moz-border-radius: 5px;
-moz-border-radius-topright: 3px;
border-radius: 5px;
border-top-right-radius: 3px;
border-color:Blue;
}

img
{  border-style: none;
}


.LabelCampo
{
	display: block; 
	float: left; 
	text-align:right; 
	width: 150px;  
	margin-right:10px;	
}

.MenuDestra
{
 font-family:"Source Sans Pro",sans-serif;
 font-size:16px;
 color:#777777;  
 display: block; 
 vertical-align:text-top; 
 text-align:left; 
 width:150px; 
}

.MenuDestra a {color: #000000;}


/*Initialize*/
ul#menu, ul#menu ul.sub-menu {
    padding:0;
    margin: 0;
}
ul#menu li, ul#menu ul.sub-menu li {
    list-style-type: none;
    display:block;
    
}
/*Link Appearance*/
ul#menu li a, ul#menu li ul.sub-menu li a {
    text-decoration: none;    
    padding: 5px;
    display:block;
}
/*Make the parent of sub-menu relative*/
ul#menu li {
    position: relative;
}
/*sub menu*/
ul#menu li ul.sub-menu {
    display:none;
    position: absolute;
    top: 25px;
    left: 0;
    width: 100px;
    background:  white;
    color:black;
    width:400px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    border:1px solid #000000;
    background-color:#FFFFFF;
    -webkit-box-shadow: #A8A8A8 8px 8px 8px;
    -moz-box-shadow: #A8A8A8 8px 8px 8px; 
    box-shadow: #A8A8A8 8px 8px 8px;
}
ul#menu li:hover ul.sub-menu {
    display:block;
    color:red;
}

#menu li:hover,
.li_hover
{
background-color:#F90;
}

/*tab*/
.TabSenior .ajax__tab_xp .ajax__tab_header .ajax__tab_tab{
    background:none;
}


.TabSenior .ajax__tab_body {
    font-family: "Source Sans Pro",sans-serif;
    font-size: 16px;
    border-width: 1px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-style: solid;
    border-color: #DDDDDD;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    padding: 8px;
    background-color: #FFF;
}

.TabSenior .ajax__tab_header
{	
	border-bottom-width: 1px;		
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-style: solid;
	border-color: #DDDDDD;
    font-family: "Source Sans Pro",sans-serif;
	font-size: 16px;
	height:42px;
	vertical-align:middle;	

}

.TabSenior .ajax__tab_header .ajax__tab_active .ajax__tab_outer

{


	-webkit-border-radius: 5px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius: 5px;
	-moz-border-radius-topright: 3px;
	border-radius: 5px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;

    border-bottom-width: 1px;   
    border-bottom-color:White;
    border-top-color: #DDDDDD;
	border-left-color: #DDDDDD;
	border-right-color: #DDDDDD;
	border-top-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;	
	border-style: solid;

	font-family: "Source Sans Pro",sans-serif;
	font-size: 16px;
	height:41px;
	vertical-align:middle;		
}

.TabSenior .ajax__tab_header .ajax__tab_active .ajax__tab_tab

{

    border-bottom-color:White;
    border-bottom-width: 1px;   
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;	
	border-style: solid;
	font-family: "Source Sans Pro",sans-serif;
	font-size: 16px;
	height:41px;
	vertical-align:text-bottom;
}
.TabSenior .ajax__tab_header .ajax__tab_active .ajax__tab_tab:hover
{
	color:#08c;
}	

.TabSenior .ajax__tab_header .ajax__tab_active .ajax__tab_inner

{

    border-bottom-color:White;
    border-bottom-width: 1px;   
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;	
	border-style: solid;
	font-family: "Source Sans Pro",sans-serif;
	font-size: 16px;
	color:#EF7B0F;
	height:41px;

	margin-left:10px;
	margin-right:10px;
	margin-top:5px;

}





.TabSenior .ajax__tab_inner
{
	margin-left:10px;
	margin-right:10px;
	
	
}


.TabSenior .ajax__tab_tab

{
  
}




/* MENU SU LOGO SENIOR*/
.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;    
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: "Source Sans Pro",sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

.custom-menu-list
{    display: none;
    z-index: 1001;
    position: absolute;    
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: "Source Sans Pro",sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
    left:50px;    
    top:30px;
    
}

.custom-menu-listSmall
{    display: none;
    z-index: 1001;
    position: absolute;    
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: "Source Sans Pro",sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
    left:50px;    
    top:180px;
    
}


/* Each of the items in the list */
.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
    user-select: none;    
}
.custom-menu a
{
  text-decoration:none;
  color:#007DC4;	
}

.custom-menu-list
{    
    display: none;
}

#IdMenuOspiti:hover +  #MenuOspiti
{	
	display: block;	
}


#MenuOspiti:hover
{
	display: block;
}

#IdTabelleOspiti:hover + #MenuTabelleOspiti
{	
	display: block;
}


#IdTabelleOspiti:hover
{
	display: block;
}

#MenuOspiti > #IdTabelleOspiti:hover 
{
	display: block;
}
#MenuOspiti > #MenuTabelleOspiti:hover 
{
	display: block;
}



#idStatisticheOspiti:hover + #MenuStatisticheOspiti
{	
	display: block;
}


#idStatisticheOspiti:hover
{
	display: block;
}

#MenuOspiti > #idStatisticheOspiti:hover 
{
	display: block;
}
#MenuOspiti > #MenuStatisticheOspiti:hover 
{
	display: block;
}



#idStrumenti:hover + #MenuStrumenti
{	
	display: block;
}

#idStrumenti:hover
{
	display: block;
}

#MenuOspiti > #idStrumenti:hover 
{
	display: block;
}
#MenuOspiti > #MenuStrumenti:hover 
{
	display: block;
}


#IdMenuGenerale:hover +  #MenuGenerale
{	
	display: block;	
}


#MenuGenerale:hover
{
	display: block;
}




#idBudget:hover + #MenuBudget
{	
	display: block;
}

#idBudget:hover
{
	display: block;
}

#MenuGenerale > #idBudget:hover 
{
	display: block;
}
#MenuGenerale > #MenuBudget:hover 
{
	display: block;
}






#idStampeGenerale:hover + #MenuStampeGenerale
{	
	display: block;
}

#idStampeGenerale:hover
{
	display: block;
}

#MenuGenerale > #idStampeGenerale:hover 
{
	display: block;
}
#MenuGenerale > #MenuStampeGenerale:hover 
{
	display: block;
}


#idVisualizzazione:hover + #MenuVisualizzazione
{	
	display: block;
}

#idVisualizzazione:hover
{
	display: block;
}

#MenuGenerale > #idVisualizzazione:hover 
{
	display: block;
}
#MenuGenerale > #MenuVisualizzazione:hover 
{
	display: block;
}



#idTabelleGenerale:hover + #MenuTabelleGenerale
{	
	display: block;
}

#idTabelleGenerale:hover
{
	display: block;
}

#MenuGenerale > #idTabelleGenerale:hover 
{
	display: block;
}
#MenuGenerale > #MenuTabelleGenerale:hover 
{
	display: block;
}





#idStrumentiGenerale:hover + #MenuStrumentiGenerale
{	
	display: block;
}

#idStrumentiGenerale:hover
{
	display: block;
}

#MenuGenerale > #idStrumentiGenerale:hover 
{
	display: block;
}
#MenuGenerale > #MenuStrumentiGenerale:hover 
{
	display: block;
}





#idMenuProtocollo:hover +  #MenuProtocollo
{	
	display: block;	
}


#MenuProtocollo:hover
{
	display: block;
}






#idMenuMailingList:hover +  #MenuMailingList
{	
	display: block;	
}


#MenuMailingList:hover
{
	display: block;
}




.custom-menu li:hover {
    background-color: #DEF;
}
    
    
    
.ClsGdpr{
    text-color:red;
    text-decoration:none;
    font-weight:bold;

}
   
a.ClsGdpr:visited { 
    color: red;
}
a.ClsGdpr { 
    color: red;
}


.ClsGdprBarra 
{
			width: 35%;	
			height: 30px; 
			left:50%; 
			top:60px;	
			background-color: rgba(243, 223, 223, 0.50);	
			position: absolute;
			 text-align:center;		
}
.SeniorButton {
    background-color: white;  
    border: none;
    color: black;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid gray;  
}

.SeniorButton {
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

.SeniorButton:hover {
    background-color: gray;
    color: black;
}

.DivTasti
{
	position:absolute; 
	right:30px; 
	top:100px;
}